<nav>
  <% if (req.session.pages) { %>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link"
         href="?page=<%= prevPage %>">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <% for(let i = min; i <= max; i++) { %>
    <li class="page-item <%= i === req.session.page ? 'active' : '' %>">
      <a class="page-link"
         href="?page=<%= i %>"><%= i %></a>
    </li>
    <% } %>
    <li class="page-item">
      <a class="page-link"
         href="?page=<%= nextPage %>">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
  <% } %>
</nav>
