<% if (typeof req != 'undefined' && req.isAuthenticated()) { %>
<ul class="user-panel navbar-nav d-flex flex-row align-self-end">
  <li class="nav-item mr-1 d-flex align-items-center">
    <div class="dropdown">
      <a href="#"
         role="button"
         id="dropdownMenuLink"
         data-toggle="dropdown">
        <img src="/images/avatars/<%= req.user.avatar %>"
             alt="Avatar"
             height="40"
             width="40"
             class="avatar rounded-circle" />
      </a>

      <div class="dropdown-menu"
           aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item"
           href="/profile/<%= req.user.username %>">
          <i class="fas fa-user mr-1"></i>
          Profile
        </a>
        <a class="dropdown-item"
           href="/profile/<%= req.user.username %>/threads">
          <i class="fas fa-comments mr-1"></i>
          Your Threads
        </a>
        <a class="dropdown-item"
           href="/profile/<%= req.user.username %>/answers">
          <i class="fas fas fa-feather-alt mr-1"></i>
          Your Answers
        </a>
      </div>
    </div>
  </li>

  <li class="nav-item d-none d-lg-block">
    <button class="btn btn-secondary text-center"
            type="button"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Not fully implemented yet!">
      <i class="fas fa-bell notifications-icon"></i>
    </button>

  </li>
  <li class="nav-item d-none d-lg-block">
    <div class="dropdown">
      <a class="btn btn-secondary text-center"
         href="/profile/<%= req.user.username %>/messages">
        <i class="fas fa-envelope"></i>
        <span class="notifications"></span>
      </a>
    </div>
  </li>
  <li class="nav-item ml-2">
    <button type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#postThreadModal">
      <i class="fas fa-pencil-alt"></i>
      <span class="d-none d-lg-inline">Post Thread</span>
    </button>
  </li>

  <li class="nav-item ml-2">
    <button class="btn btn-danger"
            data-toggle="modal"
            data-target="#logoutModal">
      <i class="fas fa-sign-out-alt"></i>
      <span class="d-none d-lg-inline">Logout</span>
    </button>
  </li>
</ul>

<!-- Logout Modal -->
<div class="modal fade"
     id="logoutModal">
  <div class="modal-dialog">
    <form class="logout-modal-form"
          action="/logout"
          action="GET">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to log out of the system?</h5>
          <button class="close"
                  data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Once you log out you won't be able to post new threads or answers until you log back in!
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-danger btn-logout"
                  data-dismiss="modal">Log Out</button>
          <button class="btn btn-secondary"
                  data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Post Thread Modal -->
<div class="modal fade"
     id="postThreadModal"
     tabindex="-1"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form class="post-thread-modal-form"
          action="/post-thread"
          method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="postThreadModal">Post a new thread</h5>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Title </label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title" />
          </div>
          <div class="form-group">
            <label for="category">Select Category:</label>
            <select name="category"
                    id="category"
                    class="categories-select form-control">
              <option aria-hidden="true"
                      hidden
                      disabled></option>
            </select>
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea type="text"
                      class="tinymce modal-textarea"
                      name="body"
                      rows="15"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
          <button type="button"
                  class="btn btn-primary btn-thread-submit"
                  type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Notifications Modal -->
<div class="modal fade"
     tabindex="-1"
     id="notificationsModal">
  <div class="modal-dialog modal-md"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Notifications</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center clear-button-wrapper"></div>
        <div class="toasts d-flex flex-column align-items-center">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% } else { %>

<ul class="navbar-nav ml-auto">
  <li class="nav-item mr-2">
    <a href="/login"
       class="btn btn-primary">Login</a>
  </li>
  <li class="nav-item mr-2">
    <a href="/register"
       class="btn btn-info">Register</a>
  </li>
</ul>

<% } %>
