<div class="container mt-3">
  <%- include('./partials/profile/_profile-header.ejs')  %>
  <% if (!(req.session.page > 1)) { %>
  <div class="card mb-3">
    <div class="card-header">
      <h2 class="h4 m-0 p-0"><%= message.title %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <a class="username h4 text-body mb-md-3"
             href="/profile/<%= message.sender.username %>">
            <%= message.sender.username %>
          </a>
          <a href="/profile/<%= message.sender.username %>">
            <img src="/images/avatars/<%= message.sender.avatar %>"
                 width="90"
                 height="90"
                 class="avatar rounded-circle">
          </a>
          <p class="text-body mt-2">
            <span class="small text-center d-block"><%= message.sender.selfDescription %></span>
          </p>
        </div>
        <div class="thread-content-wrapper col-md-9 col-lg-10 mt-md-4 position-relative">
          <div class="card-text"><%- message.body %></div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% messageAnswers.forEach(messageAnswer => { %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <a class="username h4 text-body mb-md-3"
             href="/profile/<%= messageAnswer.user.username %>">
            <%= messageAnswer.user.username %>
          </a>
          <a href="/profile/<%= messageAnswer.user.username %>">
            <img src="/images/avatars/<%= messageAnswer.user.avatar %>"
                 width="90"
                 height="90"
                 class="avatar rounded-circle">
          </a>
          <p class="text-body mt-2">
            <span class="small text-center d-block"><%= messageAnswer.user.selfDescription %></span>
          </p>
        </div>
        <div class="col-md-9 col-lg-10 mt-md-4">
          <div class="card-text mt-3"><%- messageAnswer.body %></div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
  <form class="mt-3"
        action="/profile/<%= req.user.username %>/message/<%=message.id%>/post-message-answer"
        method="POST">
    <div class="form-group">
      <textarea class="tinymce form-control bg-dark text-white"
                id="messageAnswerBody"
                name="messageAnswerBody"></textarea>
    </div>
    <div class="form-group d-flex justify-content-between">
      <button type="submit"
              class="align-self-start btn btn-primary">Reply</button>
      <%- include('./partials/_pages.ejs') %>
    </div>
  </form>
</div>
